<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Social_Network</servlet-name>
		<servlet-class>social.network.Social_NetworkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Social_Network</servlet-name>
		<url-pattern>/social_network</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>inscription</servlet-name>
		<servlet-class>social.network.ServletInscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>connexion</servlet-name>
		<servlet-class>social.network.ServletConnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deconnexion</servlet-name>
		<servlet-class>social.network.ServletDeconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>profil</servlet-name>
		<servlet-class>social.network.ServletProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profil</servlet-name>
		<url-pattern>/profil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>recherche</servlet-name>
		<servlet-class>social.network.ServletRecherche</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recherche</servlet-name>
		<url-pattern>/recherche</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>affichageProfil</servlet-name>
		<servlet-class>social.network.ServletAffichageProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>affichageProfil</servlet-name>
		<url-pattern>/affichageProfil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ajoutInteret</servlet-name>
		<servlet-class>social.network.ServletAjoutInteret</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajoutInteret</servlet-name>
		<url-pattern>/ajoutInteret</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>creerPublication</servlet-name>
		<servlet-class>social.network.ServletCreerPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>creerPublication</servlet-name>
		<url-pattern>/creerPublication</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>ObjectifyFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
