<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Social_Network</servlet-name>
		<servlet-class>social.network.Social_NetworkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Social_Network</servlet-name>
		<url-pattern>/social_network</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>social.network.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>connexion</servlet-name>
		<servlet-class>social.network.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deconnexion</servlet-name>
		<servlet-class>social.network.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>profil</servlet-name>
		<servlet-class>social.network.Profil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profil</servlet-name>
		<url-pattern>/profil</url-pattern>
	</servlet-mapping>
	 
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>ObjectifyFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
